table {
    border-collapse: collapse;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

td {
    border: 2px solid #252422;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
}

.endGame {
    display: none;
    background-color: burlywood;
    text-align: center;
    color: #252422;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    width: fit-content;
    border-radius: 5px;
    opacity: 0.8;
}